/* barlow-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-condensed-700 - latin */
  @font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/barlow-condensed-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/barlow-condensed-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;

}
.site-main{
    /* padding-bottom: 100px; */
    background-image: url("../sherzod/Bitmap.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Doniyor's Css start */

/* Doniyor's Css end */





/* Sherzodjon's Css start */
.site-header{
    padding-top: 80px;
    padding-bottom:60px ;
    background-image: url("../sherzod/Group\ 28.png");
    background-repeat: no-repeat;
    background-position-x: calc(50% + 96px);
    background-position-y: calc(50% + 10px);
    background-size: auto;

}
.headre-section{
    padding:0 160px 0 50px;
}
.header-wrapper{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.header_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.link-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.num{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;    
    color: #FFFFFF;
}
.lisrt{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
color: #FFFFFF;
}
.moon-section{
    padding: 100px 80px 100px 200px;
}
.moon-secrion__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.moon-secrion__list > li > h3{
    font-weight: 400;
font-size: 28px;
line-height: 34px;
margin-bottom: 50px;
/* identical to box height */

letter-spacing: 4.725px;
text-transform: uppercase;

color: #FFFFFF;
}
.num-sec{
    font-weight: 700;
font-size: 28px;
line-height: 34px;
/* identical to box height */

letter-spacing: 4.725px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.25;
}
.moon-section__text{
    width: 444px;
}
.link-list2{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 52px;
}
.link-list2 a{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
color: #FFFFFF;

}
.moon-section__text > h2{
    font-weight: 400;
font-size: 100px;
line-height: 115px;
/* identical to box height */
margin-bottom: 14px;
color: #FFFFFF;
} 
.moon-section__text >p{
    font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */
margin-bottom: 54px;

color: #D0D6F9;
}

/* Sherzodjon's Css end */




/* Javlon's Css start */

/* Javlon's Css end */





/* Duebek's Css start */

/* Duebek's Css end */