/* barlow-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

/* Doniyor's Css start */
 .section{
   width: 100%;
   height:100vh;
   background-image: url(../images/DoniyorsImg/space.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
        }
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-top: 40px;
}
.unordered__list{
    width: 700px;
    height: 96px;
    display: flex;
    gap: 57px;
    background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(40.7742px);
text-align: center;
color: white;
padding: 0 120px;
}
.list_item{
    text-align: center;
    padding: 40px.0;
}
.main{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.link{
    color: white;
}
.main_section{
    width: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 120px;
}
.travel_information{
    font-size: 28px
}
.space_article{
    font-size: 150px
}
.second_section{
    position: relative;
    width: 270px;
    height: 270px;
    border: none;
    margin-right: 120px;
    border-radius: 50%;
    background-color: white;
}
.oval_explore{
    position: absolute;
    height: 37px;
    left: 30.63%;
    right: 0.36%;
    top: calc(50% - 37px/2 + 0.5px);
    font-size: 32px;    
}
/* Doniyor's Css end */





/* Sherzodjon's Css start */

/* Sherzodjon's Css end */




/* Javlon's Css start */

/* Javlon's Css end */





/* Duebek's Css start */

/* Duebek's Css end */