/* barlow-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

/* Doniyor's Css start */

/* Doniyor's Css end */





/* Sherzodjon's Css start */

/* Sherzodjon's Css end */




/* Javlon's Css start */

.section-contianer {
    background-image: url(../javlonbek/site-bac.img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 71px 0px;
    width: 1200px;
    margin: 0 auto;
}

.section-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-img {
    margin-left: 55px;
}

.nav-list {
    padding: 39px 123px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    display: flex;
    align-items: center;
    gap: 50px;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 4.725px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2 {
    margin-top: 154px;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

h3 {
    margin-top: 15px;
    max-width: 488px;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}

p {
    margin-top: 27px;
    max-width: 444px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
}

.main-circul {
    margin-top: 120px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.first{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 1.17;
}
article {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
}

/* Javlon's Css end */





/* Duebek's Css start */

/* Duebek's Css end */